* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  width: 80%;
  margin: 0 auto;
  background: rgb(251, 254, 255);
}

.all__news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news {
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.news__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.head__text {
  text-align: center;
  margin-top: 30px;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news__author {
  margin-right: 10px;
  color: purple;
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}
html {
  height: 100vh;
  font-family: sans-serif;
  box-sizing: border-box;
}

body,
#root,
.App {
  height: 100%;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 70px auto;
}
.search-form {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  align-items: center;
}

.form-controls {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.form-controls input[type="text"] {
  display: flex;
  border: 1px solid lightgray;
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}
.form-controls input[type="text"]:focus {
  outline: none;
  border-color: gray;
  box-shadow: 0 2px 5px lightgray;
}

.form-controls label {
  display: none;
}
.news-image {
  width: 340px;
}